@import '../../../sass/_vars.scss';
@import '../../../sass/_mixins.scss';

.item {
  text-align: center;
  padding:0.5rem 0.5rem 0 0;
  min-width: 20rem;
  &__content{
    text-decoration: none;
    color: $color_main_title;
    background-color: #fff;
    padding: 1rem;
    display: block;
    &__title {
      @include font;
      display: block;
      text-transform: uppercase;
      padding: 0.5rem 0;
    }
    &__description{
      display: block;
      padding: 0 0 0.5rem 0;
      text-transform: capitalize;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

    }
    &__price {
      &--full{
        text-decoration: line-through;
      }
      &--discount{
        color: #f00;
      }
    }
  }
  img {
    width: 100%;
    min-width: 15rem;
  }
}