@import '../../sass/_vars.scss';
@import '../../sass/_mixins.scss';
.header {
  background-color: $color_secondary;
  border-bottom: 1px solid #DEDEDE;
  &__logo {
    text-align: center;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__container{
    display: flex;
    @include max-width;
    > div {
      flex-grow: 1
    }
  }
}